.body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden  ;
  }
  .col-lg-6 {
    width: 50%; /* Instead of a fixed width */
}

.container-fluid {
  width: 100%;
  max-width: 100%; /* Prevents overflow */
}

.row {
  margin: 0; /* Reset margin to prevent overflow */
}

.col-lg-6 {
  padding: 0; /* Reset padding to prevent overflow */
}
.row{
  width: 100%;
}
  .main-architecture {
    margin: 0px;
  }

  .navbar-brand {
    font-size: 100px;
  }

  .nav-item {
    font-size: 25px;

  }


  .banner-title {
    text-align: center;
    margin-top: 160px;
    font-size: 100px;
    color: white;
    margin-bottom: 150px;
  }

  .btn-banner {
    text-align: center;
  }

  .letter {
    font-weight: 800;
    color: #ffffff;
  }
  span.letter{
    gap: -10px;
  }

  /* second part start */
  .second-banner{
    margin: 50px;
    width: 100%;

  }
  #portfolio{
    width: 100%;
  }
  .fourth-part-01{
    width: 100%;
  }
  .fifth-main{
    width: 100%;
  }
  .seven-main{
    width: 100%;
  }
  #footer{
    width: 100%;
  }
  #footer-bottom{
    width: 100%;
  }
  .second-banner h4{
    position: relative;
    margin-left: 30px;
    font-size: 16px;
    color: #989393;
  }
  .second-banner h4::after{
    content: "";
    width: 22px;
    height: 2.5px;
    background-color: rgb(201, 198, 198);
    position: absolute;
    bottom: 9.5px;
    left: -30px;
  }
  /* .col-lg-6 img{
    margin-left: 90px;
  } */
  
  .w1{
    margin-left: 90px;
  }
  .a1 h1{
    margin-left: 90px;
    font-size: 55px;
    font-weight: 900;
  }
  .col-lg-6 text-start {
  margin: 10px;
  }
  .text-start{
    font-size: 20px;
    line-height: 1.7em;
    color: grey;
  }

  .main-txt{
    margin: 10px;
  }
  .btn.btn-accent{
    height: 65px;
    width: 200px !important ;
  }

  /* third part start */
  .container-fluid{
    width: 100%;
  }
  #portfolio{
    background: black;
  }
  .main-third {
    background-color: black;
    padding-bottom: 80px;
  }
  .section-header span{
    position: relative;
    margin-left: 35px;
  }
  .section-header span::after{
    content: "";
    width: 22px;
    height: 2.5px;
    background-color: rgb(160, 146, 146);
    position: absolute;
    bottom: 9.5px;
    left: -30px;
  }
  .section-header h2{
    color: wheat;
    font-size: 55px;
    font-weight: 900;
  }
  .txt {
    color: white;
    margin-left: 100px;
  }

  .txt1 h1 {
    color: rgb(221, 226, 228);
    margin-left: 100px;
    font-size: 90px;

  }

  .button-group {
    margin-left: 5px;
  }

  .btn {
    border-radius: 20px;
  }
  h2 {
    font-size: 3.5rem;
    color: rgb(9, 10, 11);
    color: #ffffff;

}
.title span {
    color: #c7ccd0;
}


  /* fourth part start */

  .fourth-part{
    padding: 60px;
    margin-top: 50px;
  }
  .fourth-part h4{
    position: relative;
    margin-left: 30px;
  }
  .fourth-part h4::after{
    content: "";
    width: 22px;
    height: 2.5px;
    background-color: rgb(160, 146, 146);
    position: absolute;
    bottom: 9.5px;
    left: -30px;
 
  }
  .rahul-fourth{
    margin-top: 150px;
  }
  .txt2{
    color: rgb(97, 101, 105);
    margin-left: -25px;
  }
  .txt2 h4{
    font-size: 16px;
  }
  .txt3 h1{
    margin-left: -40px;
    font-size: 90px;
    font-weight: 700;
  }
  #form-control input{
    width: 100%;
    height: 65px;
    padding: 10px;
    margin-top: 50px;
    background-color: white;

  }
  #form-control .btn-full{
    width: 100%;
    margin-top: 20px;
    height: 60px;
    background-color: #c5a992;
    color: white;
    /* padding: 10px; */
  }
  .box{
    position: relative;
  }
  .box h2{
    color: black;
    font-size: 25px;
    line-height: 2;
  }
  .box p{
    font-size: 16px;
    margin-left: -40px;
  }
  .box .number{
    font-family: var;
    font-size: 5em;
    font-weight: 900;
    color: #f4f4f4;
    position: absolute;
    top: -69px;
    left: -22px;
    z-index: -1;
  }
  .col-lg-6 h1{
    font-size: 75px;
    font-weight: 700;
  }
  .btn .btn-light{
    width: 200px;
    height: 25px;
    color: white;
  }
  /* fifth part start */
  .fifth-main{
    margin: 0px;
    margin-top: 150px;
  
  }
  .fifth-main h4{
    position: relative;
    margin-left: 120px;
  }
  .fifth-main h4::after{
    content: "";
    width: 22px;
    height: 2.5px;
    background-color: rgb(160, 146, 146);
    position: absolute;
    bottom: 9.5px;
    left: -30px;

  }
  .txt4{
    color: rgb(97, 101, 105);
    margin: 12px;
    
  }
  .txt5 h1{
    margin-left: 100px;
    font-weight: 900;
  }
  .post-content{
    width: 100%;
    height: 320px;
  }
  .main-date{
    margin-top: 40px;
  }
  .post-title{
    margin-top: 40px;
    font-size: 30px;
  }
  .align-center{
    text-align: center;
    display: block;
  }
  .btn.btn1{
    color: #ffffff;
    background-color: #c5a992;
    /* height: 60px;
    width: 530px; */
    padding: 16px;
  }
  .btn .btn-rounded{
    border-radius: 3px;
  }
  /* sixth part start */
  .sixth-main{
    background-color: black;
    padding: 75px;
    margin-top: 75px;

  }
  .sixth-main h4{
    position: relative;
    margin-left: 35px;
  }
  .sixth-main h4::after{
    content: "";
    width: 22px;
    height: 2.5px;
    background-color: rgb(160, 146, 146);
    position: absolute;
    bottom: 9.5px;
    left: -30px;

  }
  .title-1 h4{
    color:  #c7ccd0;
  }
  .title-2 h1{
    color: #c7ccd0;
    font-weight: 800;
  }
  .col-md-6{
    background-color: #ffffff;
  }
  .pera p{
    color: #5c5858;
  }
  input{
    width: 525px;
    height: 55px;
    padding: 20px;
    background-color: black;
  }
  textarea{
    width: 525px;
    height: 110px;
    padding: 20px;
    background-color: black;
  }
   .btn.btn-accent{
    color: #ffffff;
    background-color: #c5a992;
    height: 60px;
    width: 530px;
    padding: 16px;
  }
  #agree{
    width: 20px;
    height: 20px;
  }
  span{
    color: rgba(107, 111, 111,1);
  }
  .box{
    /* width: 460px; */
    height: 125px;
    margin-left: 60px;
    margin-top: 40px;
    font-size: 22px;

  }
  .box p{
    margin-left: 0px;
  }
  .box1{
    margin-top: 35px;
  }
  .box2{
    margin-top: 35px;
  }
  .box3{
    margin-top: 35px;
  }
  .detail-box p{
    margin-top: -4px;
  }
    /*seventh-part start*/
  .seven-main{
    margin-top: 75px;
    background-color: aliceblue;
  }
  .seven1-title{
    font-weight: 800;
    color: black;
    font-size: 50px;
  }
  .testimonial-inner{
    padding: 15px;
  }
  .testimonial-inner q{
    font-size: 18px;
    line-height: 2;
  }
  .section{
    padding-top: 60px;
  }
  .section span{
    position: relative;
    margin-left: 30px;
  }
  .section span::after{
    content: "";
    width: 22px;
    height: 2.5px;
    background-color: rgb(160, 146, 146);
    position: absolute;
    bottom: 9.5px;
    left: -30px;

  }
  .name{
    padding-top: 50px;
    font-size: x-large;
    font-weight: 500;
  }
  .author-detail{
    padding-top: 10px;
  }

  /* footer part start */
  #footer{
    background-color: white;
    margin-top: 150px;
  }
  #footer img.footer-logo{
    margin-bottom: 30px;
  }

  .f-menu p{
    line-height: 2;
  }
  .f-menu .ft-links ul{
    display: flex;
    list-style: none;
  }
  .ft-links ul li{
    margin: 0px;
  }
  li{
    margin-right: 25px !important;
  }
  ol ul{
    padding-left: 0px;
    margin-top: 0px;
  }
  a.mail-id{
    text-decoration: none;
    color: #989393;
  }
  .f1-menu{
    margin-right: 15px;
  }
  .m-item a{
    display: flex;
    text-decoration: none !important;
  
  }
  .m-list{
    margin-top: 30px;
  }
  .m1-list{
    margin-top: 30px;
  }
  .f1-menu .m-list .m-item{
    margin-bottom: 20px;
    list-style: none;
  }
  .f2-menu .m1-list .m1-item{
    margin-bottom: 20px;
    list-style: none;
  }
  .gallery .gallery-item{
    height: 68px;
    width: 68px;
    object-fit: cover;
    margin-bottom: 5px;
  }
  .fgallery{
    margin-top: 50px;
  }
  .gallery{
    margin-top: 30px;
  }
  .copyright{
    margin-top: 90px;
  }
  .img-margin{
    margin: 10px;
  }
  input{
    width: 100%;
  }
  textarea{
    width: 100%;
  }
  .sixth-main{
    width: 100%;
  }
  .seven-main{
    width: 100%;
  }
  .post-img{
    padding: 15px;
    border: 1px dotted black;
    margin: 10px;
  }
  .content{
    color: white;
  }
  @media screen and (max-width:668px) {
    
  }